[submodule "Consumption"]
	path = Consumption
	url = https://github.com/smart-data-models/Consumption.git
[submodule "dataModel.Consumption"]
	path = dataModel.Consumption
	url = https://github.com/smart-data-models/dataModel.Consumption.git
[submodule "dataModel.Energy"]
	path = dataModel.Energy
	url = https://github.com/smart-data-models/dataModel.Energy.git
[submodule "dataModel.EnergyCIM"]
	path = dataModel.EnergyCIM
	url = https://github.com/smart-data-models/dataModel.EnergyCIM.git
[submodule "dataModel.GreenEnergy"]
	path = dataModel.GreenEnergy
	url = https://github.com/smart-data-models/dataModel.GreenEnergy.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
[submodule "dataModel.Battery"]
	path = dataModel.Battery
	url = https://github.com/smart-data-models/dataModel.Battery.git
